<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenue">
    {{contenue}}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button slot="start" (click)="diminuerNote()">-</ion-button>
    <ion-label>Notation : {{notation}}</ion-label>
    <ion-button slot="end" (click)="augmenterNote()">+</ion-button>
  </ion-toolbar>
</ion-footer>