<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Liste des articles -->
  <ion-card *ngFor="let article of articleService.listArticles">
    <ion-card-header>
      <ion-card-title>{{article.titre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{article.contenue}}
    </ion-card-content>
  </ion-card>
  
  <!-- Bouton ajout articles -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="goToAjoutArticle()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
